# PROJECT DIRS
IDIRS:=inc
SDIR :=src
ODIR :=obj
DDIR :=dep
BDIR :=bin

# PROJECT FILES
ELF  :=$(BDIR)/main.elf
HEX  :=$(BDIR)/main.hex
BIN  :=$(BDIR)/main.bin
ASM  :=$(BDIR)/main.asm

# LIB DIRS
LDIR :=$(HOME)/Documents/libs/PC
LIDIR:=$(LDIR)/inc
LADIR:=$(LDIR)/arc

# LIBS AND DEFS
LIBS:=ncurses
DEFS:=

# TOOLCHAIN
CC     :=gcc
CXX    :=g++
ASMC   :=gcc
LD     :=g++
OBJCOPY:=objcopy
OBJDUMP:=objdump
SIZE   :=size
STRIP  :=strip

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -pedantic -Wno-write-strings
OPTIMIZATION:=-O3 -Os -fdata-sections -ffunction-sections -fno-exceptions -s
